<div class="floating-form">
  <div class="floating-label">
    <select class="floating-select" id="floating-select" onclick="this.setAttribute('value', this.value);" value=""
      [disabled]="props.isDisabled">
      <option class="dropdown-option" selected value="{{props.defaultValue}}">{{props.defaultValue}}</option>
      <option ngModel *ngFor='let option of props.dropdownArray' value="{{option}}" class="dropdown-option">{{option}}</option>
    </select>
    <label class="dropdown-label">{{props.dropdownPlaceholder}}</label>
  </div>
  <span *ngIf="!props.requiredField" class="span-optional">Opcional</span>
</div>