/* Variables */

$main-width: 100%;
$color-primary: #3ABAED;
$color-secondary: #B3B3B3;


.floating-form {
  width: $main-width;
}
  
.floating-label { 
  position: relative;
  width: $main-width;
}

.floating-select {
  font-size: 14px;
  padding-left: 10px;
  padding-top: 20px;
  width: $main-width;
  height: 55px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-secondary;
  background-image: url(../../../assets/images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position-x: calc(100% - 5px);
  background-position-y: calc(100% - 5px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.2s ease 0.1s;
  -moz-transition: all 0.2s ease 1s; 
  -webkit-transition: all 0.2s ease 0.1s;
}
  
.floating-select:focus {
  outline: none;
  border-bottom: 2px solid $color-primary; 
  background-image: url(../../../assets/images/arrow-down-blue.svg);
}
  
.dropdown-label {
  color: $color-secondary; 
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 10px;
  bottom: 0;
  transition: all 0.2s ease 0.1s;
  -moz-transition: all 0.2s ease 1s; 
  -webkit-transition: all 0.2s ease 0.1s;
}

.span-optional {
  color: $color-secondary;
  font-size: 13px;
  float: right;
  padding-right: 10px;
}

.floating-select:focus + label, .floating-select:not([value=""]) + label {
  bottom: 20px;
  font-size: 14px;
  color: $color-primary;
}

.floating-select:not(:focus) + label {
  color: $color-secondary;
}

.floating-select:not(:focus).floating-select:not([value=""]) {
  border: 1px solid $color-secondary;
  border-radius: 2px;
}

.floating-select:disabled, .floating-select:disabled.floating-select:not([value=""]) {
  border: none;
  border-radius: 2px;
  background-color: #eeeeee;
}
