<div class="floating-form">
  <div class="floating-label">
    <select class="floating-select" id="floating-select" onclick="this.setAttribute('value', this.value);" value="">
      <option class="dropdown-option" selected></option>
      <option ngModel *ngFor='let option of dropdownArray' value="{{option}}" class="dropdown-option">{{option}}</option>
    </select>
    <label class="dropdown-label">Selecciona el tipo de producto</label>
  </div>
  <span class="span-optional">Opcional</span>
</div>